# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

######################
# Python/FastAPI
######################
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/
.bat
.run/
.qodo/
github-ip.bat
crudgen/
node_modules/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/

######################
# JavaScript/Next.js
######################
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/
/output/
.next/
.next/cache/
consul.backup.txt
# production
/build

# misc
.DS_Store
*.pem
.env*
!.env.example
!.env.production.example
.env.prod

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor directories and files
.idea
.vscode/
*.swp
*.swo
*~
.ropeproject

# Supabase
.supabase

# System Files
.DS_Store
Thumbs.db
